@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 240, 240, 240;
}

.heading-primary {
  font-size: 1.75rem; 
  font-weight: bold;
  color: #1e3a8a; 
  margin-bottom: 1rem; 
}

.heading-secondary {
  font-size: 1.25rem; 
  color: #0069cf; 
  margin-bottom: 1.25rem;
}

.paragraph-primary {
  font-size: 1rem; 
  color: #0069cf; 
  margin-bottom: 1.5rem; 
  line-height: 1.5;
  
}

.button-primary {
  margin-top: 0.25rem; 
  padding: 0.5rem 1.5rem;
  background-color: #16a34a; 
  color: white;
  font-weight: 600; 
  border-radius: 0.375rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.button-primary:hover {
  background-color: #15803d; 
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.chart-title {
  color: #0069cf;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  margin-left: 1rem;
  margin-top: 0.75rem;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 275px;
}

.chart-wrapper {
  width: 100%;
  height: 100%;
}

.chart-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px solid #e5e7eb;
  margin-right: 2rem;
}